* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

body {
  background-image: url(../img/cork.png);
}

.header {
  height: 150px;
  background-image: url(../img/wall.png);
  background-size: auto;
  display: flex;
}

.title {
  background: transparent;
  margin: auto;
  font-size: 5rem;
  font-family: "Edu Tas Beginner", sans-serif;
  text-transform: uppercase;
}

h2 {
  font-family: "Edu Tas Beginner", sans-serif;
}

p {
  font-family: "Sometype Mono", monospace;
}

button {
  font-size: 2rem;
  margin-bottom: 25px;
  cursor: pointer;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
}

.modal-container.show {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  width: 600px;
  max-width: 100%;
  /* background-color: wheat; */
  text-align: center;
}

.container {
  width: 80%;
  margin: 50px auto;
  max-width: 800px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: calc(100% / 3);
  padding: 10px;
}

.card {
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 10px black;
}

.card:hover {
  transform: scale(1.2) rotate(10deg);
  transition: 1s;
  z-index: 10;

  .pin {
    display: none;
  }
}

.text {
  margin-top: 15px;
}

.imgcontainer {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.imgcontainer img:not(.pin) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.pin {
  position: absolute;
  top: -10px;
  left: calc(50% - 18px);
  width: 36px;
  height: 36px;
  z-index: 10;
}
